<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Courses - Delete</title>
    {% include "./header.html" %}
  </head>
  <body>
    <div class="container">


    <h1>Are you sure you want to delete the following course?</h1>
    <h2>Name:</h2>
    <p>
      {{doomed.name}}
    </p>
    <h2>Description:</h2>
    {% if doomed.description.text %}
    <p>
    {{doomed.description.text}}
    </p>
    {% else %}
    <p>
      No description provided, toooo lazy.
    </p>
    {% endif %}
    <div class="row">
      <div class="col-md-2">

        <form action="/" method = "get">
          <button type="submit" class="btn btn-primary">No.</button>
        </form>
      </div>
      <div class="col-md-10">

        <form action="/delete/{{doomed.id}}" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-danger">Yes I want to delete this</button>
        </form>

      </div>
    </div>
  </body>
  </div>
</html>
